<launch>

  <arg name="period" default="0.01" />
  <arg name="start_hydra" default="false" />
  <arg name="device" default="hydra" />

  <include if="$(arg start_hydra)" file="$(find razer_hydra)/hydra.launch" >
  </include>

  <node name="cat_user_entity_test" pkg="cat_user_entity" type="user_test" output="screen" >
    <param name="period" type="double" value="$(arg period)" />
    <param name="device" type="string" value="$(arg device)" />
  </node>


</launch>
